## import libraries

In [28]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

### prepare data

In [29]:
df_train = pd.read_csv("data/leukemia/ALLAML_train.csv",  header=None, names=[i for i in range(7130)], index_col=False)

In [30]:
df_test = pd.read_csv("data/leukemia/ALLAML_test.csv", header=None, names=[i for i in range(7130)], index_col=False)

### exploratory

In [31]:
df_train.head(10)

,0,1,2,3,4,5,6,7,8,9,...,7120,7121,7122,7123,7124,7125,7126,7127,7128,7129
0,-72,-139,-1,392,-324,-510,-350,-202,249,561,...,1121,102,330,-112,1567,627,21,2520,0,-1
1,-106,-125,-76,168,-230,-284,4,-122,70,252,...,649,57,504,-26,250,314,14,56,-25,1
2,-318,-192,-95,312,-139,-344,324,-237,105,167,...,737,63,472,33,737,227,-9,371,-31,-1
3,-67,-93,84,25,-179,-323,-135,-127,-2,-66,...,224,60,194,-10,291,41,8,-2,-80,1
4,-476,-213,-18,301,-403,-394,-42,-144,98,173,...,1215,127,255,50,1701,1109,61,526,-83,1
5,-117,-219,-50,257,-218,-402,228,-147,65,67,...,631,-26,455,-62,736,445,42,246,-43,1
6,17,-229,79,218,-262,-404,326,-201,6,469,...,1020,-110,209,-51,1435,255,53,545,-16,1
7,-413,-260,7,-2,-541,-790,-275,-463,70,-169,...,629,-86,302,23,1799,446,59,781,20,1
8,-88,-105,42,219,-178,-246,328,-148,177,183,...,986,26,101,21,570,359,9,171,7,1
9,-165,-155,-71,82,-163,-430,100,-109,56,350,...,642,32,137,-81,672,208,25,116,-62,1

In [32]:
df_test.head(10)

,0,1,2,3,4,5,6,7,8,9,...,7120,7121,7122,7123,7124,7125,7126,7127,7128,7129
0,-342,-200,41,328,-224,-427,-656,-292,137,-144,...,1023,67,214,-135,1074,475,48,168,-70,1
1,-87,-248,262,295,-226,-493,367,-452,194,162,...,529,-295,352,-67,67,263,-33,-33,-21,1
2,22,-153,17,276,-211,-250,55,-141,0,500,...,399,16,558,24,893,297,6,1971,-42,1
3,-243,-218,-163,182,-289,-268,-285,-172,52,-134,...,277,6,81,2,722,170,0,510,-73,1
4,-130,-177,-28,266,-170,-326,-222,-93,10,159,...,643,51,450,-46,612,370,29,333,-19,1
5,-256,-249,-410,24,-535,-810,709,-316,27,14,...,1455,-123,491,-55,1950,906,79,170,-64,1
6,-62,-23,-7,142,-233,-284,-167,-97,-12,-70,...,383,46,104,15,245,164,84,100,-18,1
7,86,-36,-141,252,-201,-384,-420,-197,-60,-468,...,91,-84,615,-52,1235,9,7,1545,-81,1
8,-146,-74,170,174,-32,-318,8,-152,-148,17,...,690,-142,249,-220,354,-42,-100,45,-108,1
9,-187,-187,312,142,114,-148,-184,-133,12,97,...,125,-185,13,-148,304,-1,-207,112,-190,1

### get features

In [33]:
x_train = df_train.iloc[:,:-1]
x_train.head(5)

,0,1,2,3,4,5,6,7,8,9,...,7119,7120,7121,7122,7123,7124,7125,7126,7127,7128
0,-72,-139,-1,392,-324,-510,-350,-202,249,561,...,103,1121,102,330,-112,1567,627,21,2520,0
1,-106,-125,-76,168,-230,-284,4,-122,70,252,...,156,649,57,504,-26,250,314,14,56,-25
2,-318,-192,-95,312,-139,-344,324,-237,105,167,...,225,737,63,472,33,737,227,-9,371,-31
3,-67,-93,84,25,-179,-323,-135,-127,-2,-66,...,48,224,60,194,-10,291,41,8,-2,-80
4,-476,-213,-18,301,-403,-394,-42,-144,98,173,...,241,1215,127,255,50,1701,1109,61,526,-83

In [34]:
x_test = df_test.iloc[:,:-1]
x_test.head(5)

,0,1,2,3,4,5,6,7,8,9,...,7119,7120,7121,7122,7123,7124,7125,7126,7127,7128
0,-342,-200,41,328,-224,-427,-656,-292,137,-144,...,277,1023,67,214,-135,1074,475,48,168,-70
1,-87,-248,262,295,-226,-493,367,-452,194,162,...,83,529,-295,352,-67,67,263,-33,-33,-21
2,22,-153,17,276,-211,-250,55,-141,0,500,...,413,399,16,558,24,893,297,6,1971,-42
3,-243,-218,-163,182,-289,-268,-285,-172,52,-134,...,174,277,6,81,2,722,170,0,510,-73
4,-130,-177,-28,266,-170,-326,-222,-93,10,159,...,233,643,51,450,-46,612,370,29,333,-19

### get labels

In [35]:
y_train = df_train.iloc[:,-1:]
y_train.head(5)

   7129
0    -1
1     1
2    -1
3     1
4     1

In [36]:
y_test = df_test.iloc[:,-1:]
y_test.head(5)

   7129
0     1
1     1
2     1
3     1
4     1

### data normalization

In [37]:
x_train = (x_train-x_train.min())/(x_train.max()-x_train.min())
x_train.head(5)

,0,1,2,3,4,5,6,7,8,9,...,7119,7120,7121,7122,7123,7124,7125,7126,7127,7128
0,0.819473,0.612378,0.534965,1.000000,0.442857,0.440945,0.143653,0.594533,0.906849,1.000000,...,0.223926,0.627712,0.707071,0.118025,0.000000,0.647170,0.548689,0.430303,0.789358,0.723077
1,0.750507,0.657980,0.403846,0.476636,0.634694,0.796850,0.537862,0.776765,0.416438,0.601804,...,0.386503,0.297411,0.593434,0.187876,0.524390,0.025943,0.255618,0.387879,0.018153,0.530769
2,0.320487,0.439739,0.370629,0.813084,0.820408,0.702362,0.894209,0.514806,0.512329,0.492268,...,0.598160,0.358992,0.608586,0.175030,0.884146,0.255660,0.174157,0.248485,0.116745,0.484615
3,0.829615,0.762215,0.683566,0.142523,0.738776,0.735433,0.383073,0.765376,0.219178,0.192010,...,0.055215,0.000000,0.601010,0.063428,0.621951,0.045283,0.000000,0.351515,0.000000,0.107692
4,0.000000,0.371336,0.505245,0.787383,0.281633,0.623622,0.486637,0.726651,0.493151,0.500000,...,0.647239,0.693492,0.770202,0.087916,0.987805,0.710377,1.000000,0.672727,0.165258,0.084615

In [38]:
x_test = (x_test-x_test.min())/(x_test.max()-x_test.min())
x_test.head(5)

,0,1,2,3,4,5,6,7,8,9,...,7119,7120,7121,7122,7123,7124,7125,7126,7127,7128
0,0.000000,0.638996,0.624654,0.755924,0.479199,0.556686,0.218661,0.362812,0.742188,0.240713,...,0.711253,0.683284,0.847775,0.216561,0.318352,0.534785,0.545359,0.876289,0.115743,0.447761
1,0.595794,0.546332,0.930748,0.677725,0.476117,0.460756,0.804236,0.000000,0.890625,0.468053,...,0.299363,0.321114,0.000000,0.342129,0.573034,0.000000,0.321730,0.597938,0.017165,0.630597
2,0.850467,0.729730,0.591413,0.632701,0.499230,0.813953,0.625644,0.705215,0.385417,0.719168,...,1.000000,0.225806,0.728337,0.529572,0.913858,0.438662,0.357595,0.731959,1.000000,0.552239
3,0.231308,0.604247,0.342105,0.409953,0.379045,0.787791,0.431025,0.634921,0.520833,0.248143,...,0.492569,0.136364,0.704918,0.095541,0.831461,0.347849,0.223629,0.711340,0.283472,0.436567
4,0.495327,0.683398,0.529086,0.609005,0.562404,0.703488,0.467086,0.814059,0.411458,0.465825,...,0.617834,0.404692,0.810304,0.431301,0.651685,0.289432,0.434599,0.810997,0.196665,0.638060

### Trainning

In [39]:
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train.values.ravel())

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [40]:
y_pred = classifier.predict(x_test)

### Evaluate

In [41]:
from sklearn.metrics import accuracy_score, confusion_matrix
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

0.9117647058823529
[[13  1]
 [ 2 18]]